In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math
weight1=[25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.25,size=15)

In [ ]:
print(weight1)
print(weight2)

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]
[18.23891908 22.45390365 19.24444089 37.34143254 26.6825542  31.43231483
 15.56709898 30.60371382 20.96422528 31.46143042 25.0207527  40.29879732
 31.91241148 29.40118416 42.93815806]

In [ ]:
Weight_df=pd.DataFrame({"weight_10":np.array(weight1),
                        "weight_20":np.array(weight2),
                        "weight_change":np.array(weight2)-np.array(weight1)})

In [ ]:
Weight_df

    weight_10  weight_20  weight_change
0          25  18.238919      -6.761081
1          30  22.453904      -7.546096
2          28  19.244441      -8.755559
3          35  37.341433       2.341433
4          28  26.682554      -1.317446
5          34  31.432315      -2.567685
6          26  15.567099     -10.432901
7          29  30.603714       1.603714
8          30  20.964225      -9.035775
9          26  31.461430       5.461430
10         28  25.020753      -2.979247
11         32  40.298797       8.298797
12         31  31.912411       0.912411
13         30  29.401184      -0.598816
14         45  42.938158      -2.061842

In [ ]:
_,p_value=stats.ttest_rel(a=weight1,b=weight2)

In [ ]:
print(p_value)

0.1392847335498285

In [ ]:
if p_value < 0.05:         #Alpha value = 0.05 OR 5%
  print("Accepting null hypothesis")  #Difference in age
else:
  print("Rejecting null hypothesis")  #No difference in age

Rejecting null hypothesis

Hence we conclude that in this Paired T-Test we reject null hypothesis.